<div id="pageTitle">
<h1><?php echo mLang::home_title; ?></h1>
</div>

<div id="content">

<?php include( $root . $module['location'] . $themePath . 'links.html'); ?>

<div class="post"> <!-- post -->
<p><?php echo mLang::welcome; ?></p>
</div> <!-- END post -->


</div><!-- end content -->
