<div id="pageTitle">
<h1><?php echo lang::adminLanding_title; ?></h1>
</div>

<div id="content">

<?php include( $root . $module['location'] . $themePath . 'links.html'); ?>

<div class="post"> <!-- post -->

<?php if((isset($registerErrors)) && (count($registerErrors)>0)){ ?>
<br><div class="error">
<?php
foreach ($registerErrors as $errorMessage) {
    echo $sql->xssafe($errorMessage) . '<br>' . "\n";
}
unset($errorMessage);
?>
</div><br>
<?php } ?>
<form action="./index.php?m=<?php echo $module['id']; ?>&p=4" method="POST">
<?php echo mlang::join_usernameLabel; ?><input type="text" name="userName" value="<?php if(isset($_POST['userName'])){ echo $_POST['userName']; } ?>"><br>
<?php echo mlang::join_password; ?><input type="password" name="password"><br>
<?php echo mlang::join_reenterPassword; ?><input type="password" name="passwordVerify"><br>
<?php echo mlang::join_email; ?><input type="text" name="emailAddress" value="<?php if(isset($_POST['emailAddress'])){ echo $_POST['emailAddress']; } ?>"><br><br>
<input type="hidden" name="token" value="<?php echo $user->getToken('UserSpace' . $module['id'] . 'join'); ?>">
<input type="submit" value="<?php echo mlang::join_button; ?>" name="submit">
</form><br><br>

</div> <!-- END post -->


</div><!-- end content -->
