<div id="links">

<a href="./index.php?m=<?php echo $module['id']; ?>" class="link">Home</a><br>
<?php if($user->getNumber() < 0){ ?><a href="./index.php?m=<?php echo $module['id']; ?>&p=4" class="link">Join</a><br><?php } ?>
</div>
