<div id="pageTitle">
<h1>Login</h1>
</div>

<div id="content">

<?php include( $root . $module['location'] . $themePath . 'links.html'); ?>

<div class="post">
<?php if((isset($loginErrors)) && (count($loginErrors)>0)){ ?>
<br><div class="error">
<?php
foreach ($loginErrors as $errorMessage) {
    echo $sql->xssafe($errorMessage) . '<br>' . "\n";
}
unset($errorMessage);
?>
</div><br>
<?php } ?>
<form action="./index.php?m=<?php echo $module['id']; ?>&p=2" method="POST">
Username: <input type="text" name="username" value="<?php if(isset($_POST['username'])){ echo $_POST['username']; } ?>"><br>
Password: <input type="password" name="password"><br>
<!--<input type="checkbox" name="stay"> Stay Logged In? (For 1 Week)--><br><br>
<input type="hidden" name="token" value="<?php echo $user->getToken('login'); ?>">
<input type="submit" value="Login" name="submit">
</form><br><br>
</div>
</div>

