#page{
width: 90%;
margin: auto;
}

#header{
margin: auto;
width: 100%;
border-style: solid;
border-width: 5px;
text-align: center;
display: inline-block;
}

#content{
margin: auto;
}

#pageTitle{
width: 100%;
margin: auto;
padding: 5px;
text-align: center;
}

#links{
width: 15%;
float: left;
padding: 10px;
border-style: solid;
border-width: 5px;
text-align: left;
}

#footer{
margin-top: 30px;
width: 100%;
float: left;
padding-top: 5px;
padding-bottom: 5px;
border-style: solid;
border-width: 5px;
text-align: center;
}

div.error{
width: 80%;
margin: auto;
padding-top: 3px;
padding-bottom: 3px;
border-style: solid;
border-width: 3px;
border-color: red;
color: red;
}

div.post{
width: 75%;
float: right;
border-style: solid;
border-width: 5px;
text-align: left;
padding: 5px;
}

div.comment{
margin-top: 20px;
border-style: solid;
border-width: 2px;
padding: 3px;
}

h1.siteTitle{
margin: 0;
letter-spacing: 1px;
}

h1.title{
margin: 0;
}

a.title{
text-decoration: none;
}

a.link{
letter-spacing: 1px;
margin: 2px;
text-decoration: none;
}

a.link:hover{
letter-spacing: 0px;
margin: 2px;
text-decoration: underline;
}

span.webLinks{
float: right;
text-align: right;
padding: 10px;
}

span.postInfo{
font-size: 14px;
margin: 0;
}

p.postContent{
font-size: 20px;
}
